
body {
  background-color: hsl(30, 38%, 92%);
  text-align: center;
}

h2 {
  font-family: 'Montserrat';
  color: hsl(228, 12%, 48%);
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 2px;

}

h1 {
font-size: 2.3rem;
line-height: 0.9;

}

p {
font-family: 'Montserrat';
color: hsl(228, 12%, 48%);
font-size: 0.85rem;
line-height: 1.5;
}


.container-fluid {
  width: 500px;
  height: 400px;
  background-color: #fff;
  text-align: center;
  margin: 100px auto auto auto;
  border: none;
  border-radius: 2%;
}

.desktop-image {
  width: 250px;
  height: 400px;
  border: none;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.mobile-image {
  display: none;
}

.imageSection {
  position: absolute;
}

.textSection {
  position: absolute;
  text-align: left;
  margin-left: 270px;
  margin-top: 15px;
  width: 15%;
}

.price {
  font-family: 'Fraunces';
}

.discount {
  width: 50%;
  position: absolute;
  font-size: 1.5rem;
  color: hsl(158, 36%, 37%);
}

.original {
  width: 50%;
  margin-left: 120px;
  margin-top: 15px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-size: 0.7rem;
  font-weight: 100;
  padding-top: 7px;
}

.button {
  background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 30px 25px auto;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px 30px;
    width: 80%;
}

.button:hover {
  background-color: hsl(212, 21%, 14%);
  cursor: pointer;
}

.cartIcon {
  padding-right: 10px;
}

@media only screen and (max-width: 375px) {
  h1 {
  font-size: 1.5rem;
  line-height: 0.9;
  margin-top: 15px;
}

h2 {
  margin: 5px 0 0 0;
}

p {
  margin: 5px 0 0 0;
}

.container-fluid {
  width: 300px;
  height: 470px;
  background-color: #fff;
  text-align: center;
  margin: 100px auto auto auto;
  border: none;
  border-radius: 2%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.desktop-image {
  display: none;
}
.mobile-image {
  display: block;
  width: 300px;
  height: 170px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.textSection {
  position: absolute;
  text-align: left;
  margin-left: 25px;
  margin-top: 180px;
  width: 70%;
}

.original {
  font-size: 0.9rem;
  padding-top: 10px;
}

.button {
  margin: 15px 25px auto;
}

}
